.task-list-title {
  font-size: 2em;
  margin: 1rem 0;
  text-align: center;
}

.add-task-button {
  display: block;
  margin: 0 auto 2em auto;
  padding: 0.5em 1em;
}

.task-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1em;
  padding: 1em;
}

.task-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1em;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-title {
  font-weight: bold;
}

.task-date {
  color: #888;
  margin-top: 0.5em;
}

.task-actions {
  margin-top: 1em;
}

.task-action-button {
  margin-right: 0.5em;
}

.delete-task-button {
  margin-left: 0.5em;
}

.task-persons {
  margin-top: 1em;
}

.person-item {
  margin-bottom: 0.5em;
}

.person-name {
  font-weight: bold;
}

.person-skills {
  margin-top: 0.5em;
}

.skill-list {
  list-style-type: none;
  padding: 0;
}

.skill-item {
  margin-left: 1em;
}

.low_priority {
  background-color: #f8d7da;
}

.medium_priority {
  background-color: #fff3cd;
}

.high_priority {
  background-color: #d1ecf1;
}

.chip {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
}

.chip_low_priority {
  background-color: darken(#f8d7da, 10%);
  color: #721c24;
}

.chip_medium_priority {
  background-color: darken(#fff3cd, 10%);
  color: #856404;
}

.chip_high_priority {
  background-color: darken(#d1ecf1, 10%);
  color: #0c5460;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  gap: 0.125rem;
  .active {
    background-color: #e2e2e2;
  }
}

.no-tasks-message {
  grid-column: 1 / -1;
  place-content: center;
  text-align: center;
  font-size: 1.5em;
  color: #888;
  margin-top: 2em;
}
